.odd {
  background-color: rgb(255, 174, 174);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#green-bg {
  background-color: rgb(136, 255, 136);
  font-weight: bold;
}

#blue-text {
  color: blue;
  font-size: 36px;
}

.same-font {
  font-size: 24px;
}
